{% extends "base.html" %}
{% load static %}


{% block link %}
<link rel="stylesheet" href="{% static 'css/mainPage.css' %}">
{% endblock %}


{% block content %}
<!--------------JUMBOTRON--------------->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../image/coffee-beans-with-props-making-coffee.jpg"
        style="border-radius: 80px; width: 600px; height: 560px; padding: 60px;" alt="First slide">
      <div class="carousel-caption d-none d-md-block" style="text-align: left; margin-bottom: 75px; font-size: larger;">
        <h1>OKopi</h1>
        <p>Kopi terbaik dari biji pilihan.</p>
      </div>
    </div>
  </div>
</div>

<div>
  <h1 style="margin-left: 60px;">Kategori</h1>
</div>
<!--------------KATEGORI--------------->
<div class="row">
  <div class="p-3 col category">
    <img src="{% static 'img/biji_kopi.png' %}" class="img-category-size">
    <p>BIJI KOPI</p>
  </div>
  <div class="p-3 col category">
    <img src="{% static 'img/alat_kopi.png' %}" class="img-category-size">
    <p>ALAT KOPI</p>
  </div>
  <div class="p-3 col category">
    <img src="{% static 'img/cold_brew.png' %}" class="img-category-size">
    <p>COLD BREW</p>
  </div>
  <div class="p-3 col category">
    <img src="{% static 'img/teh.png' %}" class="img-category-size">
    <p>TEH</p>
  </div>

  <div>
    <h1 style="margin-left: 60px;">Rekomendasi</h1>
  </div>

  <div class="row">
    <div class="p-3 col category">
      <img src="" class="">
      <p>1</p>
    </div>
    <div class="p-3 col category">
      <img src="" class="">
      <p>1</p>
    </div>
    <div class="p-3 col category">
      <img src="" class="">
      <p>1</p>
    </div>
  </div>

  <div class="row">
    <div class="p-3 col category">
      <img src="" class="">
      <p>2</p>
    </div>
    <div class="p-3 col category">
      <img src="" class="">
      <p>2</p>
    </div>
    <div class="p-3 col category">
      <img src="" class="">
      <p>2</p>
    </div>
  </div>
</div>
{% endblock %}
