<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../CSS/mainPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <title>OKopi | Main Page</title>
  </head>
  <body>
    <!---------------NAVBAR--------------->
    <nav class="navbar navbar-inverse" >
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand"><img src="../image/logo-OKopi.png" id="logo"></a>
        </div>
        <form action="navbar-form navbar-left">
          <div class="input-group" id="search-bar">
            <input type="text" class="form-control" placeholder="Search" id="search-bar-input">
            <div class="input group-btn">
              <button class="btn btn-default" type="submit">
                <img src="../image/icon-search.png" id="search">
              </button>
            </div>
          </div>
        </form>
        <div>
          <a href="#" class="fa fa-shopping-bag" id="shop"></a>
        </div>
        <div>
          <a href="loginPage.html" id="login">MASUK</a>
          <a href="signUpPage.html" id="register">DAFTAR</a>
        </div>
        </ul>
      </div>
    </nav> 
    <!--------------JUMBOTRON--------------->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../image/coffee-beans-with-props-making-coffee.jpg" style="border-radius: 80px; width: 600px; height: 560px; padding: 60px;" alt="First slide">
          <div class="carousel-caption d-none d-md-block" style="text-align: left; margin-bottom: 75px; font-size: larger;">
            <h1>OKopi</h1>
            <p>Kopi terbaik dari biji pilihan.</p>
          </div>
        </div>
      </div>
    </div>

    <div>
      <h1 style="margin-left: 60px;">Kategori</h1>
    </div>
    <!--------------KATEGORI--------------->
    <div class="row">
      <div class="p-3 col category">
        <img src="../image/biji_kopi.png" class="img-category-size">
        <p>BIJI KOPI</p>
      </div>
      <div class="p-3 col category">
        <img src="../image/alat_kopi.png" class="img-category-size">
        <p>ALAT KOPI</p>
      </div>
      <div class="p-3 col category">
        <img src="../image/cold_brew.png" class="img-category-size">
        <p>COLD BREW</p>
      </div>
      <div class="p-3 col category">
        <img src="../image/teh.png" class="img-category-size">
        <p>TEH</p>
      </div>
      
      <div>
        <h1 style="margin-left: 60px;">Rekomendasi</h1>
      </div>

      <div class="row">
        <div class="p-3 col category">
          <img src="" class="">
          <p>1</p>
        </div>
        <div class="p-3 col category">
          <img src="" class="">
          <p>1</p>
        </div>
        <div class="p-3 col category">
          <img src="" class="">
          <p>1</p>
        </div>
      </div>

      <div class="row">
        <div class="p-3 col category">
          <img src="" class="">
          <p>2</p>
        </div><div class="p-3 col category">
          <img src="" class="">
          <p>2</p>
        </div><div class="p-3 col category">
          <img src="" class="">
          <p>2</p>
        </div>
      </div>
    </div>
  </body>
</html>
